<div class="portfolio-container">
    <h1>My Project</h1>
    <p>Ini adalah project yang saya sudah kerjakan :</p>
    
    <div class="project-card">
      <h2>Game Batu Gunting Kertas</h2>
      <a href="https://github.com/quatirr/batu_gunting_kertas" target="_blank">
        <button>GitHub</button>
      </a>
    </div>
    
    <div class="project-card">
      <h2>Stopwatch</h2>
      <a href="https://github.com/quatirr/stop_watch" target="_blank">
        <button>GitHub</button>
      </a>
    </div>
  
    <div class="project-card">
      <h2>Kalkulator Sederhana</h2>
      <a href="https://github.com/quatirr/kalkulator_sederhana" target="_blank">
        <button>GitHub</button>
      </a>
    </div>
</div>
