<div class="about-container">
    <h1>Tentang Saya</h1>
    <p>Sebagai seorang programmer yang berfokus pada pengembangan perangkat lunak, saya memiliki pengalaman luas dalam menciptakan solusi teknologi yang inovatif dan efisien. Dengan keahlian dalam berbagai bahasa pemrograman, framework modern, dan metodologi pengembangan perangkat lunak, saya berkomitmen untuk menghasilkan produk berkualitas tinggi yang memenuhi kebutuhan pengguna dan tujuan bisnis. Setiap proyek yang saya kerjakan merupakan tantangan baru yang saya hadapi dengan semangat untuk memberikan solusi yang praktis dan berdampak.</p>
    <p></p>
  </div>
  